api_version = "2025-01"

[[extensions]]
name = "t:name"
handle = "uwp-personalised-cans"
uid = "1e281b30-f08e-4063-78d1-ee30b5eae8708ca3cd4a"
type = "function"

description = "t:description"

  [[extensions.targeting]]
  target = "purchase.cart-transform.run"
  input_query = "src/run.graphql"
  export = "run"

  [extensions.build]
  command = ""
  path = "dist/function.wasm"

  [extensions.ui.paths]
  create = "/"
  details = "/"
