api_version = "2025-07"

[[extensions]]
name = "t:name"
handle = "uwp-pfand"
uid = "54945f46-6c8c-7860-aac2-c62bbdc1d8bcbde6f62c"
type = "function"

description = "t:description"

  [[extensions.targeting]]
  target = "purchase.cart-transform.run"
  input_query = "src/run.graphql"
  export = "run"

  [extensions.build]
  command = ""
  path = "dist/function.wasm"

  [extensions.ui.paths]
  create = "/"
  details = "/"
